<div class="home">

  <header>
    <img src="assets/imgs/noteit.png" alt="Logo">
  </header>

  <main>
    <ng-container *ngFor="let post of postItArray">
      <app-postit (postItSelected)="printPostIt($event)" [postIt]="post"></app-postit>
    </ng-container>
  </main>

  <div class="home--new-postit">

    <div class="home--new-postit--item" 
        (click)="showColor(postItColorEnum.RED)"
        [style.background-color]="postItColorEnum.RED">
    </div>

    <div class="home--new-postit--item" 
        (click)="showColor(postItColorEnum.PINK)"
        [style.background-color]="postItColorEnum.PINK">
    </div>

    <div class="home--new-postit--item" 
        (click)="showColor(postItColorEnum.GREEN)"
        [style.background-color]="postItColorEnum.GREEN">
    </div>

    <div class="home--new-postit--item" 
        (click)="showColor(postItColorEnum.YELLOW)"
        [style.background-color]="postItColorEnum.YELLOW">
    </div>

    <div class="home--new-postit--item" 
        (click)="showColor(postItColorEnum.BLUE)"
        [style.background-color]="postItColorEnum.BLUE">
    </div>

    <div class="home--new-postit--item" 
        (click)="showColor(postItColorEnum.PURPLE)"
        [style.background-color]="postItColorEnum.PURPLE">
    </div>

  </div>

</div>
