<div class="login">
  <img class="background" src="assets/imgs/postit.png">

  <img class="detail" src="assets/imgs/background.png">

  <div class="container">
    <img src="assets/imgs/noteit.png">

    <div class="container--inputs">

      <span>E-mail</span>
      <input type="text" [(ngModel)]="loginPayload.email"/>
      <span>Senha</span>
      <input type="password" [(ngModel)]="loginPayload.password"/>

    </div>

    
    <ion-button class="button" [class.disabled]="!canLogin()" class="disabled" (click)="login()">
      {{ isLoading ? 'carregando...' : 'confirmar' }}
      <app-spring-spinner *ngIf="isLoading" [animationDuration]="1000" [size]="20" [color]="'#FFF'"></app-spring-spinner>
    </ion-button>
    
    
    <p>Não possui conta? <a href="">Cadastre-se!</a></p>

  </div>
</div>
