<div class="login">
  <img class="background" src="assets/imgs/postit.png">

  <img class="detail" src="assets/imgs/background.png">

  <div class="container">
    <img src="assets/imgs/noteit.png">

    <div class="container--inputs">

      <span>Email</span>
      <input type="text" [(ngModel)]="loginPayload.email"/>
      <span>Senha</span>
      <input type="password" [(ngModel)]="loginPayload.password"/>


    </div>

    
    <ion-button (click)="login()">Confirmar</ion-button>

    <p>Não possui conta? <a href="">Cadastre-se!</a></p>

  </div>
</div>
