<div class="login">

  <img class="background" src="assets/imgs/postit.png">

  <img class="detail" src="assets/imgs/background.png">

  <div class="login-container" [class.register-container]="registring">
    <app-logo src="assets/imgs/noteit.png" [full]="false" (onClick)="logoClick($event)"></app-logo>
    
    <div *ngIf="!registring" class="login-container--inputs">

      <span>E-mail</span>
      <input  (keydown.enter)="password.focus()" class="input" type="text" [(ngModel)]="loginPayload.email"/>
      <span>Senha</span>
      <input #password (keydown.enter)="login()" class="input" type="password" [(ngModel)]="loginPayload.password"/>

    
      <ion-button class="button" [class.disabled]="!canLogin()" class="disabled" (click)="login()">
        {{ isLoading ? 'carregando...' : 'confirmar' }}
        <app-spring-spinner *ngIf="isLoading" [animationDuration]="1000" [size]="20" [color]="'#FFF'"></app-spring-spinner>
      </ion-button>
    
      <p>Não possui conta? <a (click)="goToRegister()">Cadastre-se!</a></p>
    </div>

    <div *ngIf="registring" class="register-container--inputs">

      <span>Nome Completo*</span>
      <input class="input" type="text"/>

      <span>E-mail*</span>
      <input class="input" type="text"/>

      <span>Confirme o E-mail*</span>
      <input class="input" type="text"/>
      
      <span>Senha*</span>
      <input #password  class="input" type="password"/>
    
      <span>Confirme a Senha*</span>
      <input #password  class="input" type="password"/>

      <p>*Campos obrigatórios</p>
      <p>Ao registrar-me, concordo com os termos de uso a Política de Privacidade do aplicativo.</p>

      <ion-button class="button" class="disabled">
        {{ isLoading ? 'carregando...' : 'criar conta' }}
        <app-spring-spinner *ngIf="isLoading" [animationDuration]="1000" [size]="20" [color]="'#FFF'"></app-spring-spinner>
      </ion-button>
        
    </div>

    <div *ngIf="registring" class="back" (click)="backToLogin()"></div>

  </div>

</div>


