

<ion-accordion-group class="accordion" expand="inset">
  
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Botãozao</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content">
      <ion-button class="hello" size="large" fill="outline">Hello World</ion-button>
    </div>
    
  </ion-accordion>

  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Calendáriozão</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content">
      <ion-datetime>
      </ion-datetime>
    </div>
  </ion-accordion>

  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Imagemzona</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content">
      <ion-img class="img" src="https://img.freepik.com/fotos-gratis/paisagem-de-nevoeiro-matinal-e-montanhas-com-baloes-de-ar-quente-ao-nascer-do-sol_335224-794.jpg?w=2000"></ion-img>
    </div>
  </ion-accordion>

  <ion-accordion value="Fourth">
    <ion-item slot="header" color="light">
      <ion-label>Selectzão</ion-label>
    </ion-item>

    <div class="ion-padding" slot="content">
    
      <ion-select id="dropdown" placeholder="Selecione uma fruta" interface="action-sheet">
        <ion-select-option>Maça</ion-select-option>
        <ion-select-option>Banana</ion-select-option>
        <ion-select-option>Morango</ion-select-option>
      </ion-select>
      
    </div>
  </ion-accordion>

</ion-accordion-group>