.hello {
  margin-top: 2rem;
  margin: auto;
}

ion-datetime {
  margin: auto;
}

#dropdown {
  margin: auto;
  margin-bottom: 10rem;
}

.accordion {
  margin: auto;
}

.img {
  width: 50vw;
  height: 20vh;
}